name: Refresh

on:
  workflow_dispatch:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run
      run: |
        mkdir output/
        chmod 777 chromedriver
        python refresh.py
    - name: Commit
      run: |
        git config --global user.name 'saschazesiger'
        git config --global user.email 'janis.zesiger@gmail.com'
        git remote set-url origin 'https://x-access-token:${{ secrets.API_TOKEN_GITHUB }}@github.com/Proxy-Grabber-and-Checker'
        git commit -am "Just a test"
        git push

